
<div class="firstpg flex">
  <h1 >Stupid Coaching</h1>
    <div class="banner-question">
      <p>Ask your coach anything</p>
        <form class="type-input" action="/answer" method='get'>
          <input  type="text" name='question'>
          <button type="submit" type="text">Ask!</button>
        </form>
    </div>
</div>

